name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: addnab/docker-run-action@v3
      with:
        image: conanio/gcc11
    run: |
      conan --version
  
