name: Conan CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CONAN_SYSREQUIRES_MODE: enabled

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: addnab/docker-run-action@v3
      with:
        image: conanio/gcc7
        run: |
          ls -l
          pwd
          conan create . --profile .conan/profiles/gcc7 --build missing
  
